version: "3.9"

services:

  nginx:
    image: nginx:1.25.3
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/fastcgi_params:/etc/nginx/fastcgi_params
      - ./docker/nginx/conf:/etc/nginx/conf.d
      - ./www:/var/www

  php-fpm:
    build: ./docker/php
    volumes:
      - ./www:/var/www

  db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 3306:3306
    volumes:
      - ./docker/dbdata:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: dbroot
      MYSQL_DATABASE: student
      MYSQL_USER: student
      MYSQL_PASSWORD: student
  
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin
    restart: always
    ports:
      - "3000:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: dbroot
      PMA_USER: student
      PMA_PASSWORD: student

      
